@import url('https://fonts.googleapis.com/css?family=Raleway');
.boxed {}

body {
    font-size: 210%;
    background-image: url(Background%20for%20Star%20Weather.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: sans-serif;
    background-color: steelblue;
    width: 100%;
    font-size: 140%;
    text-align: center;
    margin-top: 0;
    padding-top: 24px;
    padding-bottom:  24px;
}

nav {
    width: 100%;
    text-align: center;
    background-color: lightsteelblue;
    margin-left: auto;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
a {
    padding: 24px;
}
#tempblk1 {
    color: lightblue;
    width: 60%;
    margin: auto;
    margin-bottom: 23px;
    height: 1.6em;
    text-align: center;
}

#tempblk1 ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#tempblk1 li {
    display: inline;
    padding: 30px;
    margin: 0px;
}

#tempblk2 {
    color: lightblue;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: -60px; 
    height: 1.6em;
    font-size: 120%;
}

#tempblk3 {
  
    color: azure;
    font-size: 700%;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: -.2em;
    margin-top: .2em;
   
    align-items: center;
}

#windblk {
    color: lightblue;
    text-align: center;
}

#hfblk {
    background-color: steelblue;
    color: lightblue;
    font-family: 'Raleway' sans-serif;
    text-align: center;
    margin-bottom: 5px;
}
#hf {
    font-size: 180%;
    margin: 0px;
}
#hfdate {
    margin: 0px;
}
ul li {
    width: 100%;
    margin-right: auto;
}

#hfdata ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}
dt {
    color: lightblue
}
#hfdata li {
    display: inline;
    padding: 30px;
    margin: 0px;
    
    }
#hfdata {
    color: aliceblue;
    display: inline;
    background-color: lightslategray
}
#wfblk {
    background-color: steelblue;
    color: lightblue;
    font-family: 'Raleway' sans-serif;
    text-align: center;
    margin-bottom: 5px;
}
#wf {
    font-size: 180%;
    margin: 0px;
}
#wfdate {
    margin: 0px;
}
#wfdata {
    color: aliceblue;display:inline;
    background-color: lightslategray
}