@import url('https://fonts.googleapis.com/css?family=Raleway');
.boxed {}

body {
    font-size: 210%;
    background-image: url(Background%20for%20Star%20Weather.PNG);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    font-family: sans-serif;
    background-color: steelblue;
    width: 100%;
    font-size: 140%;
    text-align: center;
    margin-top: 0;
    padding-top: 24px;
    padding-bottom: 24px;
}

nav {
    width: 100%;
    text-align: center;
    background-color: lightsteelblue;
    margin-left: auto;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

a {
    padding: 25px;
}

#tempblk1 {
    color: lightblue;
    width: 60%;
    margin: auto;
    margin-bottom: 23px;
    height: 1.6em;
    text-align: center;
}

#tempblk1 ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#tempblk1 li {
    display: inline;
    padding: 30px;
    margin: 0px;
}

#tempblk2 {
    color: lightblue;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: -60px;
    height: 1.6em;
    font-size: 120%;
}

#tempblk3 {
    color: azure;
    font-size: 700%;
    width: 60%;
    text-align: center;
    margin: auto;
    margin-bottom: -.2em;
    margin-top: .2em;
    align-items: center;
}

#windblk {
    color: lightblue;
    text-align: center;
    font-size: 80%;
}

#hfblk {
    background-color: steelblue;
    color: lightblue;
    font-family: 'Raleway' sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

#hf {
    font-size: 180%;
    margin: 0px;
}

#hfdate {
    margin: 0px;
}

ul li {
    width: 10%;
    
}

#hfdata ul {
    height: auto;
    display: inline;
    padding: 8px 0px;
    margin: 0px;
}

dt {
    color: lightblue
}

#hfdata li {
    background-image:url("Background for Star Weather.PNG");
    display: inline-block;
    padding: 30px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 80%;
}

#hfdata {
    color: aliceblue;
    display: inline;
    background-color:
}

#wfblk {
    background-color: steelblue;
    color: lightblue;
    font-family: 'Raleway' sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

#wf {
    font-size: 180%;
    margin: 0px;
}

#wfdate {
    margin: 0px;
}

#wfdata ul {
    height: auto;
    display: inline;
    padding: 8px 0px;
    margin: 0px;
}

#wfdata li {
    background-image: url("Background for Star Weather.PNG");
    display: inline-block;
    padding: 30px;
    margin: 0px;
    margin-bottom: 5px;
    font-size: 80%;
    border: auto;
    border-color: azure; 
}

#wfdata {
    color: aliceblue;
    display: inline;
}

div.scrollmenu {
    background-image: url("Background for Star Weather.PNG");
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu li {
    display: inline-block;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    margin: 0px;
    margin-bottom: 0px;
    font-size: 85%;
    border-style: solid;
    border-color: azure; 
}

div.scrollmenu li:hover{
    
}
footer {
    background-color: steelblue;
    margin: auto;
    padding: 20px;
    text-align: center;
}              
