body {
    font-size: 200%;
    background-image: url(snowycreek.PNG);
    background-size: cover;
    color: azure;
    text-align: center;
    border-style: solid;
    border-color: aliceblue;
    border-width: 31px;
    height: 100%;
}

ul {
    text-align: center;
    padding: 8px 0px;
    
}

a {
    color: aliceblue
}
